<h2>Записаться</h2>


<form action="/visit_form/attempt" method="POST">
  <label for="masterSelect1">Выберите мастера</label>
  <select class="form-control" name="master" id="masterSelect1">
    <option>1.Whalter White</option>
    <option>2.Jessi Pinkman</option>
    <option>3.Gus Fring</option>
  </select>
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="Введите имя..." aria-describedby="namelHelp">
    <small id="emailHelp" class="form-text text-muted">Здесь Вы можете оставить ваше имя.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Ваш телефон</label>
    <input type="text" class="form-control" name="userphone" id="exampleInputPhone" placeholder="Введите телефон..." aria-describedby="phonelHelp">
    <small id="emailHelp" class="form-text text-muted">Здесь Вы можете оставить ваш тлефон.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Когда Вас ждать</label>
    <input type="text" class="form-control" name="userdate" id="exampleInputDate" placeholder="Введите время..." aria-describedby="dateHelp">
    <small id="emailHelp" class="form-text text-muted">Здесь Вы можете обозначить удобное время.</small>
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>